<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="keywordsConnStr"
         connectionString="server=localhost; port=3306;
                           database=apidirect;
                           user id=root;
                           password=;
                           charset=utf8;
                         "
         providerName="MySql.Data.MySqlClient" />

    <add name="keywordsConnStr2"
         connectionString="server=195.239.157.214; port=33060;
                           database=keywords;
                           user id=Keywords;
                           password=12345678;
                           sslmode=VerifyCA;
                           CertificateFile=C:\Users\Администратор\Documents\KeywordsCost New Version\CertFiles\client.pfx;
                           CertificatePassword=pass"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="TorProxySrvLocation"
         value="C:\Users\exxxa\Desktop\Tor Browser\Browser\TorBrowser\Tor\tor.exe" />
  </appSettings>
</configuration>